- hosts: all
  become: yes
  tasks:
    - name: Install Nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Create index.html
      copy:
        content: "<h1>Hello from Infra-Automation</h1>"
        dest: /var/www/html/index.html
