name: Ansible Deploy Nginx

on:
  push:
    paths:
      - 'ansible/**'

jobs:
  ansible:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Private key’i secrets’tan alıp key.pem olarak kaydet
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/key.pem
          chmod 600 ~/.ssh/key.pem

      # Host key checking devre dışı bırak
      - name: Disable SSH host key checking
        run: |
          echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

      # Inventory dosyası
      - name: Write hosts.ini
        run: |
          echo "[web]" > ansible/hosts.ini
          echo "ec2-instance ansible_host=44.246.207.109 ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/key.pem" >> ansible/hosts.ini

      # Ansible playbook çalıştır
      - name: Run Nginx playbook
        run: ansible-playbook -i ansible/hosts.ini ansible/playbooks/nginx.yml
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
