name: Terraform + Ansible Deploy

on:
  push:
    paths:
      - 'terraform/**'
      - 'ansible/**'

jobs:
  terraform:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.event.head_commit.message, '[terraform]')
    steps:
      - uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
      - run: terraform -chdir=terraform/envs/dev init
      - run: terraform -chdir=terraform/envs/dev apply -auto-approve

  ansible:
    runs-on: ubuntu-latest
    needs: terraform
    if: github.event_name == 'push' && contains(github.event.head_commit.message, '[ansible]')
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: pip install ansible
      - name: Write private key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > ansible/key.pem
          chmod 600 ansible/key.pem
      - name: Get EC2 IP
        id: tf
        run: echo "EC2_IP=$(terraform -chdir=terraform/envs/dev output -raw instance_id)" >> $GITHUB_ENV
      - name: Create inventory
        run: |
          echo "[web]" > ansible/hosts.ini
          echo "ec2-instance ansible_host=${{ env.EC2_IP }} ansible_user=ec2-user ansible_ssh_private_key_file=ansible/key.pem" >> ansible/hosts.ini
      - name: Run Ansible
        run: ansible-playbook -i ansible/hosts.ini ansible/nginx.yml
