name: Ansible Deploy Nginx

on:
  push:
    paths:
      - 'ansible/**'

jobs:
  ansible:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: pip install ansible
      - name: Write private key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > ansible/key.pem
          chmod 600 ansible/key.pem
      - name: Create inventory
        run: |
          echo "[web]" > ansible/hosts.ini
          echo "ec2-instance ansible_host=<EC2_PUBLIC_IP> ansible_user=ec2-user ansible_ssh_private_key_file=ansible/key.pem" >> ansible/hosts.ini
      - name: Run Ansible
        run: ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/nginx.yml
